/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* Start Header Component */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
  color: black;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-transform: capitalize;
}

.toggle-mode {
  background-color: white;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  color: black;
}

.toggle-mobile {
  display: none;
}

.main {
  background-color: #ffddf4;
  width: 100%;
  min-height: 100%;
}

.main h2 {
  text-align: center;
  font-size: 50px;
}

.pages {
  background-color: pink;
}
/* End Header Component */

/* Start Home Component */
.home {
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  min-height: 100vh;
}

.home h2 {
  letter-spacing: 2px;
}

.home p {
  font-size: 30px;
  padding: 15px 0;
  letter-spacing: 2px;
}

.home span {
  color: #ff69b4;
}

.home img {
  width: 280px; 
  height: 280px;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  margin: 0 auto 20px auto;
}

.home button {
  margin: 10px 30px;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 15px;
  letter-spacing: 2px;
  background-color: #F8C8DC;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.home button:hover {
  transform: scale(1.1);
}

.view {
  color: black;
}
/* End Home Component */

/* Start About Component */
.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 60px;
  flex-wrap: wrap;
}

.about-wrapper img {
  width: 400px; 
  height: 500px;
  border: 2px solid white;
  border-radius: 10px;
}

.about-content {
  width: 55%;
}

.about-content h3 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.about-content h3 span {
  color: #ff69b4;
  letter-spacing: 2px;
}

.about-content p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
}

.about-content p span {
  color: #ff69b4;
  font-size: 25px;
}

.education {
  background-color: #F8C8DC;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 40px 0;
}

.education-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
  line-height: 30px;
}

.education-content {
  margin: 20px 40px;
  text-align: center;
}

.education-content h3 {
  color: #ff69b4;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 20px;
}

.education-content p {
  font-style: italic;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.education-content .date {
  font-size: 14px;
  color: #ff69b4;
}

.skills {
  padding: 40px 0;
}

.skills h2, .education h2 {
  margin: 0 100px;
  padding-bottom: 8px;
  letter-spacing: 2px;
}

.description {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 18px 0;
}

.skills .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.icon-wrapper {
  margin: 10px 20px 0 20px;
  display: flex;
  flex-direction: column;
}

.icon-wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icon-wrapper p {
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  letter-spacing: 2px;
}

.skill-icon {
  font-size: 60px;
  color: #fba0e3;
  padding-bottom: 8px;
}
/* End About Component */

/* Start Portoflio Component */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.heading {
  padding-top: 25px;
}

.card {
  margin: 30px 50px;
  background-color:  #F8C8DC;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.card p {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

.card ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card ul li {
  font-size: 30px;
  margin: 10px;
  color: #fba0e3;
}

.card-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-button a {
  color: black;
}

.card-button a:hover {
  text-decoration: underline;
}
/* End Portoflio Component */

/* Start Contact Component */
.contact {
  padding: 50px 0;
  min-height: 100vh;
}

.social {
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

.social-icon {
  margin: 0 20px;
  color: #fba0e3;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.1);
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contact-wrapper {
  margin-top: 20px;
  text-align: center;
  background-color: white;
  padding: 20px;
  width: 400px;
}

.contact-me {
  font-size: 6px;
}

.form-group {
  display: flex; 
  flex-direction: column;
  margin: 8px 0;
}

label {
  margin-bottom: 5px;
  font-size: 20px;
}

input {
  width: 400px;
  padding-left: 8px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 14px;
}

textarea {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
}

.send {
  margin-top: 15px;
  background-color: #ffddf4;
  border: 1px solid white;
  padding: 8px;
  width: 50px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
/* End Contact Component */

/* Start Footer Component */
.footer .icons {
  font-size: 40px;
  margin: 0 20px;
  color: #ff69b4;
}

.footer p {
  font-size: 20px;
  margin: 10px 0 0 0;
}
/* End Footer Component */

/* Media Queries */
@media screen and (max-width: 1028px) {

  /* Start About Component */
  .about-content {
    width: 70%;
  }

  .about-content p {
    margin-bottom: 40px;
  }
  /* End About Component */
}

@media screen and (max-width: 780px) {

  /* Start About Component */
  .about-content {
    width: 80%;
  }
  /* End About Component */

  /* Start Header Component */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .nav-links {
    display: none;
  }

  .toggle-mobile {
    display: block;
    all: unset;
    font-size: 30px;
    cursor: pointer;
  }

  .mobile-links {
    position: absolute;
    display: block;
    list-style-type: none;
    background-color:  #F8C8DC;
    left: 0;
    top: 75px; 
    transition: all 0.5s ease-out;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .mobile-links li {
    text-align: center;
    color: black;
    padding: 20px;
    width: 100%;
    transition: all 0.5s ease;
    font-size: 20px;
  }
  /* End Header Component */
}

@media screen and (max-width: 425px) {

  /* Start Home Component */
  .home h2 {
    font-size: 40px;
  }

  .home p {
    font-size: 25px;
    margin: 0 12px;
  }
  /* End Home Component */

  /* Start About Component */
  .about-content {
    width: 90%;
  }
  /* End About Component */

  /* Start Portfolio Component */
  .card {
    width: 400px;
  }
  
  .card img {
    width: 200px;
  }
  /* End Portfolio Component */

  /* Start Contact Component */
  input, textarea {
    width: 350px;
  }
  /* End Contact Component */

}

@media screen and (max-width: 375px) {
  
  /* Start Contact Component */
  input, textarea {
    width: 300px;
  }
  /* End Contact Component */
}

@media screen and (max-width: 320px) {

  /* Start Contact Component */
  input, textarea {
    width: 270px;
  }
  /* End Contact Component */
}